<div class="container bg-img">
  <mat-toolbar>
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter"
        #input
      />
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" routerLink="createtask">
      Add Task
    </button>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>USERID</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
        <td mat-cell *matCellDef="let element">{{ element.body }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let row" style="display: flex">
          <button
            mat-raised-button
            color="warm"
            style="box-shadow: none"
            (click)="openDialog(row)"
            title="View"
            matTooltip="View"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            title="Edit"
            matTooltip="Edit"
            routerLink="edittask/{{ row.id }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warm"
            (click)="deleteProduct(row)"
            title="Delete"
            matTooltip="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table> 
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
